@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Righteous|Roboto+Slab');

body{
  text-align: center;
  background: #efefef;
  font-family: 'Roboto Slab', serif;
  color: #fC4a1a;
}
h1{
  color: #dff0d8 !important;
  font-weight: bold;
  text-shadow: #ccc 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0, #aaa 0 5px 0,rgba(0,0,0,.1) 0 6px 1px, rgba(0,0,0,.1) 0 0 5px, rgba(0,0,0,.3) 0 1px 3px, rgba(0,0,0,.15) 0 3px 5px, rgba(0,0,0,.2) 0 5px 10px, rgba(0,0,0,.2) 0 10px 10px, rgba(0,0,0,.1) 0 20px 20px;
  /*text-shadow: 1px 1px 0px rgba(255, 245, 229, .5);*/
  /*text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);*/

}

.shine
{
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;

    color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;

    -webkit-animation-name: shine;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shine
{
    0%
    {
        background-position: top left;
    }
    100%
    {
        background-position: top right;
    }
}
.modal-content h1{
  color: #4abdac !important;

}
.jumbotron{
  background-image: url(../img/brightBackground.jpg);
  background-position: center;
  height: 400px;

}
.radio{
  text-align: left;
}
p{
  font-size: 14pt;

}
.modal-content p{
  padding: 3em;
  text-align: justify;
}
#quizImage{
  width: 200px;
  height: 200px;

}
#preHeader{
  background-color: #333;
  padding: 1em;
  color: #fff;


}
#takeQuiz, #submit{
  width: 200px;
  height: 60px;
  font-size: 18pt;
  margin-top: 2em;
}

.next, .previous, #submit{
  margin-top: 2em;
}
#p2prev, #p3prev, #p4prev{
  margin-right: 4em;
}
#mainContent{
  margin-top: 3em;
  height: 500px;
}
#epicodusQuiz{

}
#quizContent{
  height: 400px;
}
#visitor{

}
#panel1, #panel2, #panel3, #panel4, #panel5{
  display: none;
  height: 100px;

}
#panel1{
  display: block;
}
.modal-footer{
  text-align: center;
}
#footer{
  background-color: #222222;
  height: 200px;
  width: 100%;
  color: #fff;
  font-size: 12pt;
  position: absolute;
  padding-top: 2em;
}
